<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your Page Title</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
</head>
<body>

<div class="div">
    <div class="div-2">
        <div class="div-3">
            <div class="column">
                <div class="div-4">
                    <div class="div-5">
                        <div class="column-2">
                            <img
                                    loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/593aa166-e9a9-43fc-8f7e-ca678d9d1e6b?apiKey=7e12f2621b104e7ba0d0b3ee7e503740&"
                                    class="img"
                            />
                        </div>
                        <div class="column-3" id="drop-area" draggable="true">
                            <img
                                    loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/f9a543c9-ae57-4e42-a9eb-5cb40603de69?apiKey=7e12f2621b104e7ba0d0b3ee7e503740&"
                                    class="img-2"
                            />
                        </div>

                        <input type="file" id="file-input" style="display: none;">
                        <div class="column-4">
                            <div class="div-6">
                                Drop files/
                                <br/>
                                folders
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column-5">
                <div class="div-7">
                    <div class="div-8">Drag & Drop</div>
                    <img
                            loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/d9086c3b-2d01-4b0c-897b-1d7fa07032a8?apiKey=7e12f2621b104e7ba0d0b3ee7e503740&"
                            class="img-3"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="div-9">
        <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/8b6abd96-8573-43b6-82b5-d4fd5e8ccd37?apiKey=7e12f2621b104e7ba0d0b3ee7e503740&"
                class="img-4"
        />
        <div class="div-10">
            <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/56dd0f7f-5e3e-4d5c-8a91-ba1fd5f3fca7?apiKey=7e12f2621b104e7ba0d0b3ee7e503740&"
                    class="img-5"
            />
            <div class="div-11">1 day</div>
        </div>
        <div class="div-12">
            <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/c6ec46dc-bc97-42e1-a177-52eb80410d93?apiKey=7e12f2621b104e7ba0d0b3ee7e503740&"
                    class="img-6"
            />
            <div class="div-13">1 download</div>
        </div>
        <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/2cdbf09b-153a-4c61-9e67-3f8bc2b6f487?apiKey=7e12f2621b104e7ba0d0b3ee7e503740&"
                class="img-7"
        />
    </div>
    <div class="div-14">
        <div class="div-15">
            <div class="div-16">From</div>
            <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/00b4a094-96ce-4e2e-8ab6-863f049a1f23?apiKey=7e12f2621b104e7ba0d0b3ee7e503740&"
                    class="img-8"
            />
        </div>
        <div class="div-17">Email</div>
    </div>
    <div class="div-18">
        <div class="div-19">TO</div>
        <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/8c1fd6dd-f571-4026-a1bf-7595f9b1604c?apiKey=7e12f2621b104e7ba0d0b3ee7e503740&"
                class="img-9"
        />
        <div class="div-20">Name or Email</div>
        <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/134595c2-d241-42d5-a440-bc4799043c68?apiKey=7e12f2621b104e7ba0d0b3ee7e503740&"
                class="img-10"
        />
    </div>
</div>
<script src="{{ url_for('static', path='/script.js') }}"></script>
</body>
</html>

